{%extends "base.html" %}
{% block title%}Sales{%endblock%}

{%block content%}
<h2 class="page-title">{{merchant.name}}</h2>
<h3 class="page-subtitle">Sales Register</h3>
{{user.username}}

    <div class="panel-body">
        <form accept-charset="UTF-8" role="form" method="post">
            {% csrf_token %}

        <hr/>

        {% include "account-list.html" %}

        <h4>Enter Sales Information</h4>
        <fieldset>
            <div class="form-group input-group">
                <span class="input-group-addon">$</span>
                <input type="number" name="amount" class="form-control" placeholder="Amount"/>
            </div>
            <div class="form-group">
                <textarea name="description" class="form-control" placeholder="Transaction Description"></textarea>
            </div>

            <input class="btn btn-lg btn-success btn-block" type="submit" value="Submit Sale">
        </fieldset>

        </form>
    </div>
{%endblock content%}

